/* || general styles */

html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

body {
  background-color: #1a223f;
  width: 800px;
  margin: 0 auto;
  color: #b59e7a;
}

h1,
h2 {
  font-family: "Roboto", cursive;
}

/* header styles */

h1 {
  font-size: 2rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}
